@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

 .title {
   font-family: 'Montserrat', sans-serif;
 }

 .create-form label {
   color: whitesmoke !important;
   font-family: 'Montserrat', sans-serif;
   font-size: 12px !important;
 }

 .flex{
  display: flex;
  justify-content: space-around;
  margin: 24px;
 }

 .columnFlex {
  display: flex;
 }

 .table{
  height: 300px;
  width:300px;
  overflow: scroll;
 }